body {
  font-size: 14px;
  font-family: sans-serif;
}

.home h1 {
  text-align: center;
}

.search {
  text-align: center;
  margin-top: 20px;
}

.form-group {
  margin-top: 5px;
}

.register,
.login {
  margin-top: 20px;
}

.register-button,
.login-button {
  margin-top: 20px;
}

input.has-errors {
  border: 1px solid #f00;
}

.success {
  font-size: 16px;
  color: #080;
  text-align: center;
}

.alert-info,
.alert-danger {
  padding: 20px;
}

.row .table div {
  padding-top: 10px;
  padding-bottom: 10px;
}